# =====================
# Java / Spring Boot
# =====================
target/
*.log
*.class

# =====================
# Node / NextJS
# =====================
node_modules/
.next/
out/

# =====================
# IDE
# =====================
.idea/
.vscode/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db